<!doctype html>
<html lang="en" ng-app="admin">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" > 
        <title>Prueba Usuarios</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
        <!--<link rel='stylesheet' type='text/css' href='/resources/tutorial/css/example.css'>-->

        <script src="assets/js/jquery.js"></script>
        <script src="assets/js/jquery-1.8.3.min.js"></script>
        <script src="js/library/jquery.session.js"></script>
        <script>
                /*obtengo los valores para saber a donde tiene k estar logueado*/
                var email_user_=$.session.get("EmailUser");
                var password_user_=$.session.get("PasswordUser");
                if(typeof($.session.get("ObjectUser"))=="undefined")
                {
                    window.location="chat-login.html" ;
                    $.session.delete("EmailUser");
                }
                var Object_user_=JSON.parse($.session.get("ObjectUser"));
                if(typeof(email_user_)=='string' && typeof(password_user_)=="string")
                {
                    if(Object_user_.rol=="usuario")
                    {
                        $(".email-user").text(Object_user_.Name)
                    }

                }else{
                    window.location="chat-login.html" ;
                }

        </script>


        <link rel="stylesheet" href="css/content_chat.css">
        <link rel="stylesheet" href="css/recursos.css">
        <link rel="stylesheet" href="css/signin.css">
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        <link rel="stylesheet" href="fonts/style.css">
        



    </head>
    <body ng-controller="initializeadmin">

        <div class="container">
            <div class="fondoAzul colorBlanco padding-min">

                <a  class="logo"><img src="img/sin-bordes.png" width="130px" alt=""></a>

            </div>






            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs fondoBlanco" role="tablist">

                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Usuarios</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Registrar</a></li>
                    <ul class="nav pull-right top-menu">
                        <li><a class="boton logout btn btn-primary" ng-click="Logout()" ><span class="icon-exit"></span><span class="hidden-xs"> Cerrar sesión</span></a></li>
                    </ul>
                    <!--<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>-->
                </ul>

                <!-- Tab panes -->
                <div class="tab-content fondoOscuro">
                    <div role="tabpanel" class="tab-pane active  padding-min tab fade in" id="home">
                        <br>
                        <div id='usersDiv'></div>


                    </div>
                    <div role="tabpanel" class="tab-pane  padding-min fade " id="profile">


                        <form class="form-signin">

                            <h4 class="form-signin-heading text-title-align title-login">Registro de Usuarios </h4><br>

                            <div align="center">

                                <img src="img/icono.png" class="img-responsive" width="70px" alt="">

                            </div>
                             <div class="error text-title-align alert alert-info hide " role="alert" style="margin-top: 13px;margin-bottom: -5px !important;">  </div>


                            <br>
                            <input class="form-control" placeholder="Correo Electrónico" id="emailInput" required="" autofocus="" type="text">
                            <input class="form-control" placeholder="Nombre" id="nameInput" required="" autofocus="" type="text">

                            <select name="" id="roleInput" class="form-control email-user">
                                <option value="usuario">Usuario</option>
                                <option value="administrador">Administrador</option>
                            </select>
                            <input class="form-control" placeholder="Contraseña" id="passwordInput"  required="" type="password">



                            <div class="btn  btn-primary form-control fondoAzul" id="btnRegister" ng-click="register()"><span class="icon-user"></span>Registrar</div>
                        </form>


                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">...</div>
                    <div role="tabpanel" class="tab-pane" id="settings">...</div>
                </div>

            </div>

        </div> <!-- /container -->

        <script>
            
            
        </script>
        <script type="text/javascript" src="assets/js/gritter/js/jquery.gritter.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="angular/onsen/js/angular/angular.js"></script>    
        <script src="angular/onsen/js/onsenui.js"></script>    

       
        <script src="js/admin.js"></script>
    </body>
</html>